body {
  background-image: url("./img/background.jpg");
}

h1 {
  padding: 20px;
  margin-bottom: 30px;
  background-color: #6f787a;
  opacity: 0.9;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  color: #fff;
}

figcaption,
p,
footer {
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  line-height: 1.5;
}

hr {
  border-color: #fff;
}

footer {
  font-size: 13px;
  text-align: center;
  color: #fff;
  padding-bottom: 15px;
}

.col {
  margin: 23px;
}

figcaption {
  color: #fff;
  font-weight: bold;
  padding: 8px;
}

.dogs {
  text-align: center;
  padding: 0;
}

img {
  border-radius: 5px;
}

.dark {
  color: #fff;
}

.button a {
  text-decoration: none;
  color: rgb(44, 42, 42);
  font-weight: bold;
}

button {
  display: block;
  margin: 15px auto;
  font-size: 19px;
  padding: 5px 20px;
  border: none;
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgba(245, 240, 240, 0.15);
  transition: all 200ms ease-in-out;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
  border: none;
}
